.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
}

.navbar .heading {
  font-size: max(1vw, 20px);
  color: tomato;
  letter-spacing: 0.1em;
  font-weight: 500;
  text-transform: uppercase;
}

.navbar .profile {
  width: 40px;
}
